.player-pic{
  height: 125px;
}

body {
  font-size: 1.5em;
  line-height: 1.5em;
}

.points {
  font-weight: bold;
}

.player-team {
  float: right;
  font-size: .9em;
  margin-left: 20px;
}

.week-rank {
  position: absolute;
  top: 8px;
  left: -10px;
  font-size: 1.4em;
  font-weight: bold;
}

.item {
  position: relative;
}
